# Assignment #9 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2025</br>

Name: Melissa Laurino/Instructor Guide
</br>
Date: 03/14/2025
<br>
<br>
**At this time in the semester:** <br>
- We have explored a dataset. <br>
- We have cleaned our dataset. <br>
- We created a Github account with a repository for this class and included a metadata read me file about our data. <br>
- We introduced general SQL syntax, queries, and applications in Python.<br>
- Created our own databases from scratch using MySQL Workbench and Python with SQLAlchemy on our local server and locally on our machine.
- Populated our databases with the data we cleaned at the start of the semester.
<br>

At this point, we have discussed all major statements used with SQL, but the possibilities are endless when it comes to data! Below we will explore some miscellaneous statements and tools that may be useful with your database.<br>

<br>

Read Chapter 7 & 10 in Getting Started with SQL by Thomas Nield available on Blackboard. <br>
A quick reference for SQL commands: https://www.w3schools.com/sql/default.asp <br>

Review the powerpoint and other readings specified on Blackboard in the Discussion Board.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source, especially when posting your assignments to Github.<br>

Feel free to use your preferred library and method for the exploration below. Now that all of our data is loaded onto the MySQL Workbench server, you can even take the assignment a step further and complete it all within SQL without Jupyter Notebook!<br>

Follow the instructions below to complete the assignment. Be sure to comment **all** code and answer **all** questions in markdown for full credit. Please submit this assignment with a link to it posted to your Github.<br>

**Data origin:** Melissa Laurino Spotify Database 2012-2024

In [4]:
# Load necessary packages:
from sqlalchemy import create_engine, Column, String, Integer, Boolean, BigInteger, Float, text # Database navigation
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import mysql.connector
import sqlite3 # A second option for working with databases
import pandas as pd # Python data manilpulation
import numpy as np # Populating our tables

In [6]:
# Connect to the MySQL server 
# Define our variables. We set these during our first class in our technology set up. 
# If you are unsure of these variables, do not guess. 
# Visit MySQL Workbench for the localport number, host and user.

conn = mysql.connector.connect(
        host="localhost", # This is your local instance number when you open MySQL Workbench.
        user="root", # This is your username for MySQL Workbench
        password="TippyTt0006!") # We wrote this password down in our first class!

# In order to connect to the server, we must include all of the above.

cursor = conn.cursor()

# CREATE DATABASE (SQL command) if it does not already exist
# cursor.execute("CREATE DATABASE IF NOT EXISTS MySQL_SpotifyDatabase")
# MySQL_SpotifyDatabase will be the name when the database is created.

#print("Database created successfully in MySQL Workbench! Go check it out.")

# Since my database is created now, I USE The database instead.
cursor.execute("USE MySQL_SpotifyDatabase")
print("Using the MySQL_SpotifyDatabase!")

Using the MySQL_SpotifyDatabase!

In [39]:
# Time to connect to the database using SQL Alchemy by creating an engine:
DATABASE_URL = "mysql+mysqlconnector://root:TippyTt0006!@localhost/MySQL_SpotifyDatabase" # Use MySQL Connector to connect to the database
engine = create_engine(DATABASE_URL) # Creates a connection to the MySQL database

print("Connected to MySQL database successfully!")

Connected to MySQL database successfully!

In [61]:
# Write a query to list the table names of the database:
with engine.connect() as connection:
    show_tables_query = text("""
                            SELECT table_name
                            FROM information_schema.tables
                            WHERE table_schema = 'MySQL_SpotifyDatabase'
                              AND table_type = 'BASE TABLE';
                            """)  # Make sure the schema matches your database name

    tables = pd.read_sql(show_tables_query, connection)

tables

          TABLE_NAME
0          audiobook
1  listening_history
2            podcast
3               song

#### CASE Statements
Case statements are similar to the if-then-else statements in programming. The data that meets the case statements in the database will be returned. You start a CASE statement with the word CASE and conclude it with an END. Between those keywords, you specify each condition with a WHEN [condition] THEN [value], where the condition and the values are specified by you.

Nield, Thomas. Getting Started with SQL (p. 71). O'Reilly Media. Kindle Edition. <br>
<br>
Write your question you are answering with your data query. <br>
<br>
**Example Question:** What artists have more then 3000 plays (My favorites!) 2000 plays (My second favorites!) and 1000 plays (My third favorites)?
<br>
**What tables are we joining? (If any):** None!

In [77]:
#Write a query that SELECTS for the artist play_counts from the song table WHERE the artist name is not blank
#GROUP BY the artist name and ORDER BY the play_count in DESC order, limit our result set by 20
#From the result set, 3000 plays (My favorites!) 2000 plays (My second favorites!) and 1000 plays (My third favorites)
#all ELSE (Below 999 plays) is considered "Meh"

with engine.connect() as connection:
    case = text("""
        SELECT master_metadata_album_artist_name AS artist,
        COUNT(*) AS play_count,
        CASE
                WHEN COUNT(*) >= 3000 THEN 'My favorites!'
                WHEN COUNT(*) >= 2000 THEN 'My second favorites!'
                WHEN COUNT(*) >= 1000 THEN 'My third favorites!'
                ELSE 'Meh'
            END AS popularity
        FROM song
        WHERE master_metadata_album_artist_name IS NOT NULL
        GROUP BY master_metadata_album_artist_name
        ORDER BY play_count DESC
        LIMIT 20;
    """)
    
    case_query = pd.read_sql(case, connection)

case_query

#The result set returns a new column specified by the name populartity in the END AS of the CASE statement.
#Limiting to 20 entries to save space, but comment it out to show true result set.

                 artist  play_count            popularity
0           Miley Cyrus        8895         My favorites!
1         Ariana Grande        4536         My favorites!
2           Marian Hill        4020         My favorites!
3            Noah Cyrus        3673         My favorites!
4                Hozier        3219         My favorites!
5          Lana Del Rey        3169         My favorites!
6             Lady Gaga        2988  My second favorites!
7        Nashville Cast        2923  My second favorites!
8        Meghan Trainor        2810  My second favorites!
9         Billie Eilish        2801  My second favorites!
10               Eminem        2691  My second favorites!
11         Taylor Swift        2587  My second favorites!
12  Panic! At The Disco        2507  My second favorites!
13       Britney Spears        2460  My second favorites!
14           Ed Sheeran        2437  My second favorites!
15       Mumford & Sons        2057  My second favorites!
16           Lord Huron        2051  My second favorites!
17       The Civil Wars        2033  My second favorites!
18        Amy Winehouse        1991   My third favorites!
19                Adele        1856   My third favorites!

**CASE STATEMENT**
<br>
Write a second CASE statement!

Write your question you are answering with your data query. <br>
<br>
**Question:** What were the top 10 songs listened to by the artist, Ariana Grande, and rank them in terms of popularity.
<br>
**What tables are we joining? (If any):** song and listening_history

In [94]:
# SELECT the song.master_metadata_track_name AS song, COUNT all AS the play_count
# Select the CASE when the count is 180 plays (My favorites!) 140 plays (My second favorites!) and 100 plays (My third favorites!)
# From the song s table
# JOIN the listening_history lh table ON the s.id table where it is equal to the lh.song_id
# Where the song.artist name is = Ariana Grande
# GROUP BY the song.track name
# ORDER BY the play_count in DESC order
# LIMIT the result set by 10 entries

with engine.connect() as connection:
    ariana_query = text("""
        SELECT 
            s.master_metadata_track_name AS song,
            COUNT(*) AS play_count,
            CASE 
                WHEN COUNT(*) >= 180 THEN 'My favorites!'
                WHEN COUNT(*) >= 140 THEN 'My second favorites!'
                WHEN COUNT(*) >= 100 THEN 'My third favorites!'
                ELSE 'Meh'
            END AS popularity
        FROM song s
        JOIN listening_history lh ON s.id = lh.song_id
        WHERE s.master_metadata_album_artist_name = 'Ariana Grande'
        GROUP BY s.master_metadata_track_name
        ORDER BY play_count DESC
        LIMIT 10;
    """)

    ariana = pd.read_sql(ariana_query, connection)

ariana

                                       song  play_count            popularity
0                                   7 rings         392         My favorites!
1                            God is a woman         251         My favorites!
2                             thank u, next         182         My favorites!
3                                 positions         181         My favorites!
4                              Best Mistake         162  My second favorites!
5                                     34+35         149  My second favorites!
6                              Side To Side         139   My third favorites!
7                                fake smile         136   My third favorites!
8  break up with your girlfriend, i'm bored         131   My third favorites!
9   the light is coming (feat. Nicki Minaj)         108   My third favorites!

**CASE STATEMENT**
<br>
Write a third CASE statement!

Write your question you are answering with your data query. <br>
<br>
**Question:** 
<br>
**What tables are we joining? (If any):**

**NULL**
<br>
As with all data, NULL values are fields with no data. Null data can be useful to know with the INSERT INTO statement below.

Find the NULL data within your database. Write your question you are answering with your data query. <br>
<br>
**Question:**  Select all entries from the song table where the artist name is blank.
<br>

In [98]:
# Write a query that SELECTS for ALL results from the song table WHERE the artist name is NULL
# Limit the results by 10

with engine.connect() as connection:
    null_query = text("""
        SELECT *
        FROM song s
        WHERE s.master_metadata_album_artist_name IS NULL
        LIMIT 10;
    """)

    null = pd.read_sql(null_query, connection)

null

# My database has no blank data because every field is always available in Spotify!

Empty DataFrame
Columns: [id, master_metadata_track_name, master_metadata_album_artist_name, master_metadata_album_album_name, spotify_track_uri]
Index: []

**INSERT INTO**
<br>
You can insert new records into a table as needed using the INSERT INTO statement. If you choose to populate a table with certain records and not others, the rest of the fields will remain empty/NULL.
<br>
For INSERT INTO, we are not querying the database, instead we are ADDING to it. We do not need to use dbGetQuery(), but instead, dbExecute()!
<br><br>
**Objective:** Add the crew members of a future date to the database
<br>
**What table(s) are we adding a record to?** crew

In [ ]:
# Manually INSERT INTO the song table, the specified values for the song, artist, and album.
# I do not want to actually insert this, so I am not going to execute it :)

# with engine.connect() as connection:
    #connection.execute(text("""
        INSERT INTO song (master_metadata_track_name, master_metadata_album_artist_name, master_metadata_album_album_name)
        VALUES 
            ('Song One', 'Artist One', 'Album One'),
            ('Song Two', 'Artist Two', 'Album Two'),
            ('Song Three', 'Artist Three', 'Album Three');
                            """))

**MIN() and MAX()**
<br>
You can use these statements alone or in combination with the CASE statemts above.<br>
The IN operator in a WHERE clause lets you filter for multiple values at once. You can also exclude certain values by using the NOT IN operator.
<br>

**Question:** What was the minimum and maximum date in the database the following three artists were listened to: Amy Winehouse, Hozier and Noah Cyrus.
<br>
**What table(s) are we joining? (If any)** listening_history and song

In [117]:
# SELECT the song artist name AS artist,
    # The MIN listening_history date AS the first_listened
    # The MAX listening_history date AS the last_listened
# FROM the song table s
# JOIN listening_history lh ON the song.id where it is equal to the lh.song_id
# WHERE the song artist name IN(is) 'Amy Winehouse', 'Hozier', 'Noah Cyrus'
# GROUP BY the song artist name
# ORDER BY the first_listened

with engine.connect() as connection:
    min_max_query = text("""
        SELECT 
            s.master_metadata_album_artist_name AS artist,
            MIN(lh.date) AS first_listened,
            MAX(lh.date) AS last_listened
        FROM song s
        JOIN listening_history lh ON s.id = lh.song_id
        WHERE s.master_metadata_album_artist_name IN ('Amy Winehouse', 'Hozier', 'Noah Cyrus')
        GROUP BY s.master_metadata_album_artist_name
        ORDER BY first_listened;
    """)

    artist_listen_dates = pd.read_sql(min_max_query, connection)

artist_listen_dates

          artist first_listened last_listened
0  Amy Winehouse     2012-12-07    2024-12-23
1         Hozier     2014-10-21    2024-12-28
2     Noah Cyrus     2017-02-14    2024-12-23

Combine CASE statement with Min() and Max() for a more detailed query of your data:
<br><br>
**Question:** So now I'm thinking, does the first time I listened to the artist impact whether or not they are the most streamed? Let's find out.
<br>
**What table(s) are we joining?** song and listening_history

In [198]:
# SELECT the song artist name AS artist,
    # The MIN listening_history date AS the first_listened
    # The MAX listening_history date AS the last_listened
    # DATEDIFF returns the difference between the two dates of the MAX and MIN AS days_between
    # CASE definitions for Listener Categories (I made them up obviously)
    # These new definitionsa are END AS the listening_category
# FROM the song table s
# JOIN listening_history lh ON the song.id where it is equal to the lh.song_id
# GROUP BY the song artist name
# ORDER BY the first_listened
# LIMIT result set by 10;

with engine.connect() as connection:
    span_query = text("""
        SELECT 
            s.master_metadata_album_artist_name AS artist,
            MIN(lh.date) AS first_listened,
            MAX(lh.date) AS last_listened,
            DATEDIFF(MAX(lh.date), MIN(lh.date)) AS days_between,
            CASE
                WHEN DATEDIFF(MAX(lh.date), MIN(lh.date)) >= 1825 THEN 'Life time Listener'
                WHEN DATEDIFF(MAX(lh.date), MIN(lh.date)) BETWEEN 365 AND 1824 THEN 'On Your Way to a Life time Listener'
                WHEN DATEDIFF(MAX(lh.date), MIN(lh.date)) BETWEEN 1 AND 364 THEN 'Recently Discovered'
                ELSE 'You Can Hardly Call Yourself a Listener'
            END AS listening_category
        FROM song s
        JOIN listening_history lh ON s.id = lh.song_id
        GROUP BY s.master_metadata_album_artist_name
        ORDER BY first_listened
        LIMIT 10;
    """)

    artist_listen_span = pd.read_sql(span_query, connection)

artist_listen_span

,artist,first_listened,last_listened,days_between,listening_category
0,fun.,2012-08-03,2024-09-22,4433,Life time Listener
1,Britney Spears,2012-08-03,2024-12-24,4526,Life time Listener
2,Eminem,2012-08-03,2024-11-21,4493,Life time Listener
3,2Pac,2012-08-03,2024-08-24,4404,Life time Listener
4,Moby,2012-08-03,2012-08-03,0,You Can Hardly Call Yourself a Listener
5,Neon Hitch,2012-08-03,2024-10-05,4446,Life time Listener
6,JAY-Z,2012-08-03,2024-10-19,4460,Life time Listener
7,We No Speak Americano,2012-08-03,2012-08-03,0,You Can Hardly Call Yourself a Listener
8,Jacques Offenbach,2012-08-03,2023-01-18,3820,Life time Listener
9,DJ Heiopei,2012-08-03,2012-08-03,0,You Can Hardly Call Yourself a Listener

**AVG()** <br>
AVG() will take the average of a numeric field.

**Question:** What was the average ms_played across all listening sessions in the Spotify database?
<br>

In [192]:
# SELECT the AVG ms_played AS the average_play_time_ms FROM the listening_history table

with engine.connect() as connection:
    avg_query = text("""
        SELECT 
            AVG(ms_played) AS average_play_time_ms
        FROM listening_history;
    """)

    avg = pd.read_sql(avg_query, connection)

avg

   average_play_time_ms
0            98223.7673

Although this query gives us a quick answer, as a stand alone data frame, it is not that useful. We can add it to our longer query above. <br><br>
**Aliases (AS)**
<br>
You can abbreviate your code to make it more visually appealing...or more confusing? :) <br>
<br>
Examples:<br>
FROM table_name t<br>
FROM table_name AS t<br>
<br>
**Objective:** Use abbreviations or aliases for all tables for the same code you wrote above (If you have not done so already). Be sure to obtain the same result set. <br>
**Research Question:** What are the total plays for songs, their minimum and maximum duration, and which ones are we likely to listen to in its entirety.

In [187]:
# SELECT the track name from the song table AS song
    # the artist name from the song table AS artist
    # COUNT all occurences as total plays
    # Take the MIN listeninghistory.ms_played AS the shortest_play
    # the MAX listeninghistory.ms_played AS the longest_play
    # the AVG listeninghistory.ms_played AS the average_play
    # CASE
        # WHEN AVG listeninghistory.ms_played is >= X THEN label it as 
        # WHEN AVG(listeninghistory.ms_played is >= X THEN 'Listened to Most of the Song'
        # WHEN AVG(listeninghistory.ms_played is >= X THEN 'Hardly Listen to the Song'
        # ELSE 'Skipped Often'
        # END AS skip_or_no_skip category name to appear on the result set
    # FROM song s table
    # JOIN the listening_history lh table ON the song.id where it is equal to the song_id
    # GROUPBY the track name AND the artist name 
    # HAVING COUNT that is >10
    # ORDER BY average_play DESC order
    # Limit results by 50

with engine.connect() as connection:
    song_stats_query = text("""
        SELECT 
            s.master_metadata_track_name AS song,
            s.master_metadata_album_artist_name AS artist,
            COUNT(*) AS total_plays,
            MIN(lh.ms_played) AS shortest_play,
            MAX(lh.ms_played) AS longest_play,
            AVG(lh.ms_played) AS average_play,
            CASE
                WHEN AVG(lh.ms_played) >= 340000 THEN 'Most Likely to Listen to in Entirety'
                WHEN AVG(lh.ms_played) >= 240000 THEN 'Listened to Most of the Song'
                WHEN AVG(lh.ms_played) >= 120000 THEN 'Hardly Listen to the Song'
                ELSE 'Skipped Often'
            END AS skip_or_no_skip
        FROM song s
        JOIN listening_history lh ON s.id = lh.song_id
        GROUP BY s.master_metadata_track_name, s.master_metadata_album_artist_name
        HAVING COUNT(*) > 10
        ORDER BY average_play DESC
        LIMIT 50;
    """)

    combine_everything = pd.read_sql(song_stats_query, connection)

combine_everything

,song,artist,total_plays,shortest_play,longest_play,average_play,skip_or_no_skip
0,All Too Well (10 Minute Version) (Taylor's Ver...,Taylor Swift,24,743,985318,364212.2500,Most Likely to Listen to in Entirety
1,Give Me Love,Ed Sheeran,24,0,1288397,362369.1250,Most Likely to Listen to in Entirety
2,Cell Block Tango,Michael Berresse,16,2252,736113,353587.7500,Most Likely to Listen to in Entirety
3,Hurricane,Panic! At The Disco,34,441,3570734,342244.3529,Most Likely to Listen to in Entirety
4,Runaround - 2004 Remaster,Van Halen,26,5493,659098,321631.5000,Listened to Most of the Song
5,Hallelujah,Rufus Wainwright,33,1216,944771,308286.5152,Listened to Most of the Song
6,"Lover, You Should've Come Over",Nick Boddington,20,394,2596966,307502.2500,Listened to Most of the Song
7,Jesus of Suburbia (I. Jesus of Suburbia / II. ...,Green Day,13,0,547440,305989.3846,Listened to Most of the Song
8,Brooklyn Baby,Lana Del Rey,53,348,1113921,302207.8302,Listened to Most of the Song
9,Big Parade,The Lumineers,19,32252,370643,296983.9474,Listened to Most of the Song
10,Romeo And Juliet,The Killers,15,952,527164,296922.6667,Listened to Most of the Song
11,Third of May / ÅŒdaigahara,Fleet Foxes,15,0,525450,294076.0667,Listened to Most of the Song
12,From Now On,Hugh Jackman,19,192,1001576,293319.5263,Listened to Most of the Song
13,Bubble Pop Electric,Gwen Stefani,40,1764,999810,292317.8250,Listened to Most of the Song
14,Can't Hold Us Down (feat. Lil' Kim),Christina Aguilera,27,0,879113,292204.5556,Listened to Most of the Song
15,The Sound of Silence,Pentatonix,11,3552,1022595,289384.0909,Listened to Most of the Song
16,Hallelujah,Pentatonix,76,1585,1141690,286190.0263,Listened to Most of the Song
17,Same Love (feat. Mary Lambert),Macklemore & Ryan Lewis,15,113511,320034,278738.0667,Listened to Most of the Song
18,To Be Alone - Live from Spotify SXSW 2014,Hozier,15,10040,319878,277322.2000,Listened to Most of the Song
19,In a Week - Live From Spotify London,Hozier,27,1133,648703,273263.0741,Listened to Most of the Song
20,To Be Alone - Live at the Pepper Canister Chur...,Hozier,14,3297,310506,272765.5714,Listened to Most of the Song
21,Arcadia,Lana Del Rey,18,3575,519365,270905.9444,Listened to Most of the Song
22,Saturday Night in the City,Amy Spanger,11,33881,547317,269946.4545,Listened to Most of the Song
23,Setting Sun,Lord Huron,16,1602,903930,269387.2500,Listened to Most of the Song
24,Rose Tint My World,Susan Sarandon,11,58003,636644,268163.2727,Listened to Most of the Song
25,Holy Grail,JAY-Z,30,394,338413,267547.3667,Listened to Most of the Song
26,Cell Block Tango,Catherine Zeta-Jones,17,0,455482,266702.5882,Listened to Most of the Song
27,When the Night is Over,Lord Huron,387,0,2093718,263520.0775,Listened to Most of the Song
28,Go Quietly,Marian Hill,15,1555,312610,262737.0667,Listened to Most of the Song
29,Nothing Else Matters,Miley Cyrus,18,534,793521,262159.0556,Listened to Most of the Song
30,To Be Alone,Hozier,101,0,587203,260898.4752,Listened to Most of the Song
31,Look At Us Now (Honeycomb),Daisy Jones & The Six,60,2345,610812,258967.3000,Listened to Most of the Song
32,The River,Daisy Jones & The Six,31,1021,554361,257937.2903,Listened to Most of the Song
33,Your Bones,Of Monsters and Men,14,0,722975,257864.7857,Listened to Most of the Song
34,"Last Night on Earth (feat. Tony Vincent, Rebec...",Green Day,41,1462,736503,255222.4878,Listened to Most of the Song
35,Set For Life,Noah Cyrus,64,1718,846539,253343.2813,Listened to Most of the Song
36,It Will Come Back,Hozier,102,0,813084,252649.1961,Listened to Most of the Song
37,Brainless,Eminem,11,1764,286526,251965.8182,Listened to Most of the Song
38,In a Week (feat. Karen Cowley),Hozier,64,859,619345,251870.2500,Listened to Most of the Song
39,Lost Boy,Ruth B.,24,0,801182,251724.0417,Listened to Most of the Song
40,Jesus of Suburbia,Green Day,12,371,548253,251587.8333,Listened to Most of the Song
41,I And Love And You,The Avett Brothers,19,812,1133971,251393.6842,Listened to Most of the Song
42,Mykonos,Fleet Foxes,83,1021,515726,246854.4699,Listened to Most of the Song
43,The Shrine / An Argument,Fleet Foxes,17,213,487293,246703.6471,Listened to Most of the Song
44,Lay All Your Love On Me - From 'Mamma Mia!' Or...,Dominic Cooper,29,2020,517479,244422.7241,Listened to Most of the Song
45,Lovers' Eyes,Mumford & Sons,40,640,437669,244167.7000,Listened to Most of the Song
46,Same Thing,Marian Hill,86,0,329133,243763.8140,Listened to Most of the Song
47,What Are You Into? - Bedroom Demo,Meg & Dia,34,6216,464651,243161.9412,Listened to Most of the Song
48,Sunblind,Fleet Foxes,24,511,470348,242472.2917,Listened to Most of the Song
49,Pink Pony Club,Chappell Roan,29,789,756054,241896.0345,Listened to Most of the Song

Now we are starting to create multiple new fields that we can save any time as a .csv if needed to access later. Save your result set as a .csv:

In [189]:
# Save result set as .csv file:
combine_everything.to_csv("SongEngagement.csv", index=False)

**DELETE** ~Caution!~
<br>
You can delete all records from specific tables or set a criteria to delete certain values or NULL values without deleting the table itself. It is okay if you do not execute the code if you have completed all data cleaning steps earlier in the semester.<br>
<br>
If you created autoincrement IDs for any of your data, it is recommended to use TRUNCATE TABLE instead, used the same way. The ID's will automatically reset if needed.<br>
<br>
**Objective:** Delete all data from before 2013 in the listening history table, since the year 2012 is incomplete.
<br>
**What table(s) are we deleting records from?** song

In [173]:
# DELETE FROM 

# with engine.connect() as connection:
#    delete = text("""
#        DELETE FROM listening_history
#        WHERE date < '2013-01-01';
#    """)
#    connection.execute(delete)
#    connection.commit()
    
# I do not want to actually delete this, so I am not going to execute it :)

We can also delete entire tables in MySQL workbench by manually right clicking on the table and DROP TABLE. <br>
MySQL Workbench will prompt you to review the SQL syntax before dropping the table.<br>
The syntax is simple:<br>
DROP TABLE table_name<br>

In [ ]:
#Close the database connection :)
connection.close()

**STOP**<br>
Before you submit, did you comment all your code?<br>
Did you answer all of the questions in the markdown cells?<br>
Did you rename the file and write your name at the top of the .pynb?<br>
Attach the .csv file you created with your Blackboard submission. It is preferred that you submit your Github link instead of the file itself.